# top-most EditorConfig file
root = true

# all files
[*]
charset = utf-8
indent_style = tab
indent_size = 4

[*.{htm,html,js,jsm,ts,tsx,cjs,cts,ctsx,mjs,mts,mtsx,css,sass,scss,less,pcss,svg,vue,json,jsonc,vue,yaml,yml,graphql}]
indent_size = 2
