# http://git-scm.com/docs/gitignore
# "/" files/dirs in root path.
/.vscode
/.history
/.idea
/*.iml

# DO NOT upload config files to any repositories. password may exposed.
/config.*

# "**/" files/dirs in any folder.
.DS_Store
**/*.gorun
**/debug
**/go.sum
**/vendor
**/*.bak
**/*.swp

